{
    "env": {
        "node": true,
        "es6": true,
        "amd": true
    },
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 7,
        "sourceType": "module"
    },
    "globals": {
        "angular": true,
        "d3": true
    },
    "rules": {
        "no-console": 0,
        "indent": [
            0,
            4
        ]
    }
}